<div class="board">
  <div class="add-city-container">
    <form [formGroup]="addCityForm" (submit)="addCity()">
      <input type="text" formControlName="city" [class.invalid]="errorMessage">
      <button type="submit">Add City</button>
      <span class="error-message" *ngIf="errorMessage">{{errorMessage}}</span>
    </form>
  </div>
  <app-weather-card *ngIf="mainCityCoords" [coordinates]="mainCityCoords"></app-weather-card>
  <ng-container *ngFor="let city of (cities$ | async); index as i; trackBy: trackByFn">
    <app-weather-card *ngIf="i < page * perPage && i > perPage * page - perPage - 1" [city]="city"></app-weather-card>
  </ng-container>
</div>
<div class="pagination-panel">
  <button (click)="prevPage()" [disabled]="page === 1 || !total">Previous</button>
  <button (click)="nextPage()" [disabled]="page === totalPages || !total">Next</button>
</div>
