.add-city-container {
  margin: 10px;
}

input {
  margin-right: 10px;
  font-size: 20px;
}

.pagination-panel {
  display: flex;
  justify-content: center;
}

button {
  font-size: 20px;
  margin-right: 10px;
}

.pagination-panel button:first-child {
  margin-right: 10px;
}

.error-message {
  color: orangered;
}

.invalid {
  color: orangered;
  border-color: orangered;
}
