.card-container {
  border: 3px cadetblue solid;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sky {
  display: flex;
  align-items: center;
}
