.card-container {
  border: 3px cadetblue solid;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary {
  border-color: cornflowerblue;
}

.sky {
  display: flex;
  align-items: center;
}

span {
  width: 13vw;
}

.city-name {
  min-width: 250px;
}
